
   header {
    background-color: white;
    text-align: center;
    font: cascade script;
    } 
  
     body {
    background-color: #141414 ;
    text-align: center;
    font: cascade script;
    }
  
     h1 {
    color: white;
    text-align: center;
    font: cascade script;
    font-size:40px;
    padding-top: 100px;
    } 
  
     h2{ 
     color:white;
     text-align: center ;
     font: cascade script;
     font-size:35px;
    }
  
     p {
    color: #949494;
    font: cascade script;
    font-size:30px;
    padding-bottom: 50px;
    }
    
     ul {
    color: #949494;
    font: cascade script;
    font-size:30px;
    display: table;
    margin: 0 auto;
    padding-bottom: 50px;
    }
  
     footer {
    color: #949494;
    font: cascade script;
    font-size:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
  
     a:link {
    color: #949494;
    background-color: transparent;
    text-decoration: underline;
    }
  
     a:visited {
    color: #949494 ;
    background-color: transparent;
    text-decoration: none;
    }
  
     a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
     }
    
    input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: grey;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #141414 ;
    margin: 0 auto;
    padding: 20px;
    width: 70%;

  }

  label {
    color: #949494;   
  }
  