    header {
        background-color: rgb(10, 1, 1);
    }
    
    body {
        background-color: #141414;
    }
    
    h1 {
        color: white;
        text-align: center;
        font-size: 80px;
        padding: 30px;
    }
    
    h2 {
        color: black;
        text-align: center;
        font: cascade script;
        font-size: 35px;
    }
    
    h3 {
        color: white;
        text-align: center;
        font: cascade script;
        font-size: 50px;
    }
    
    p {
        color: black;
        font: cascade script;
        font-size: 20px;
        padding: 20px;
    }
    
    ul {
        color: black;
        font-size: 20px;
        display: table;
        margin: 0 auto;
        padding: 20px;
    }
    
    label {
        color: black;
    }
    
    img {
        max-width: 100%;
        width: 200px;
        height: 300px;
        position: relative;
    }
    
    .bg-overlay {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        height: 500px;
        width: 500px;
        padding-top: 100px;
    }
    
    .gap100 {
        padding: 70px 0px;
    }
    
    .navbar-brand {
        width: 150px;
        font-size: 24px;
    }
    
    .navbar-brand img {
        height: 70%;
        width: 70%;
        float: left;
        margin-left: 100px;
    }
    /* Style all font awesome icons */
    
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }
    /* Add a hover effect if you want */
    
    .fa:hover {
        opacity: 0.7;
    }
    /* Set a specific color for each brand */
    /* Facebook */
    
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    /* Twitter */
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }